**/.speakeasy/logs/
**/.speakeasy/reports/
**/.speakeasy/temp/
/.eslintcache
/.tsbuildinfo
/bin
/esm
/node_modules
bun.lock
.DS_Store
.dev.vars
.env.local
*.mcpb
node_modules/
.eslintcache
.env
*.tsbuildinfo
.vercel/
.wrangler/
speakeasy-spec.yml
.vercel
