openapi: 3.0.3
info:
  title: Apideck
  description: 'The Apideck OpenAPI Spec: SDK Optimized'
  version: 10.24.28
  contact:
    name: Apideck
    url: https://apideck.com
    email: support@apideck.com
servers:
  - url: https://unify.apideck.com
paths:
  /accounting/tax-rates:
    get:
      operationId: accounting.taxRatesAll
      summary: Retrieve a list of all tax rates available in the accounting system
      description: >-
        This operation fetches all tax rates configured in the accounting system. Use this endpoint when you need to
        obtain tax rate information for reporting or calculation purposes. Note that some connectors, such as
        QuickBooks, may not provide the actual tax percentage and instead return only the tax code or reference. This
        endpoint reads tax rate data without modifying any records.
      parameters:
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/taxRatesFilter'
        - $ref: '#/components/parameters/passThrough'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          $ref: '#/components/responses/GetTaxRatesResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: netsuite
          description: >
            The minimun page size accepted for Netsuite is 5. The cursor for Netsuite expires if they have not been used
            within 15 minutes after its creation. NetSuite supports compound taxes through the `components` array,
            allowing multi-tier tax structures (e.g., state + county taxes).
        - connector: quickbooks
          description: >
            In quickbooks, the tax rates resource does not support pagination. QuickBooks returns tax codes rather than
            complete tax rate data. The `effective_tax_rate` may not be populated; use `code` to reference the tax in
            invoice line items.
        - connector: xero
          description: >
            Xero tax rates include `effective_tax_rate` for the combined percentage. Tax types are categorized as INPUT
            (purchases), OUTPUT (sales), or NONE. Use the appropriate tax type when applying rates to invoices vs bills.
        - connector: sage-intacct
          description: >
            Sage Intacct supports multi-component taxes through the `components` array. Each component can have its own
            rate and tax authority. Use compound taxes for jurisdictions with multiple tax layers (e.g., GST + PST in
            Canada).
      x-speakeasy-group: accounting.taxRates
      x-speakeasy-name-override: list
      x-speakeasy-pagination:
        type: cursor
        inputs:
          - name: cursor
            in: parameters
            type: cursor
        outputs:
          nextCursor: $.meta.cursors.next
    post:
      operationId: accounting.taxRatesAdd
      summary: Create a new tax rate in the accounting system
      description: >-
        This operation creates a new tax rate record with specified details such as name, code, rates, and associated
        accounts. Use this endpoint when you need to add a tax rate that your accounting processes will apply to
        transactions. It writes the tax rate data into the system, making it available for future tax calculations and
        reporting. Ensure that the tax rate details are accurate and complete, as incorrect rates can affect financial
        records and compliance.
      parameters:
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxRate'
      responses:
        '201':
          $ref: '#/components/responses/CreateTaxRateResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: quickbooks
          description: >
            To create a tax rate, `effective_tax_rate`, `tax_payable_account_id`, `name` and a `component` is required.
            If `tax_payable_account_id` is unknown, make a proxy call to get list of TaxAgency. [TaxAgency
            doc](https://developer.intuit.com/app/developer/qbo/docs/api/accounting/all-entities/taxagency#query-a-taxagency)
      x-speakeasy-group: accounting.taxRates
      x-speakeasy-name-override: create
  /accounting/tax-rates/{id}:
    get:
      operationId: accounting.taxRatesOne
      summary: Retrieve a specific tax rate by its ID
      description: >-
        This operation fetches details of a tax rate using its unique identifier. Use this endpoint when you need to
        obtain tax rate information for accounting purposes. Note that some connectors, such as Quickbooks, may only
        return the tax code or reference instead of the actual rate or percentage. Future updates will enhance this by
        performing additional background calls to provide the complete tax rate details.
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          $ref: '#/components/responses/GetTaxRateResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-speakeasy-group: accounting.taxRates
      x-speakeasy-name-override: get
    patch:
      operationId: accounting.taxRatesUpdate
      summary: Update an existing tax rate with new details
      description: >-
        Modify the properties of an existing tax rate to reflect changes such as name, code, rates, or accounts. Use
        this operation when you need to correct or adjust tax rate information rather than creating a new one. It
        updates the stored tax rate data and affects calculations that rely on this tax rate. Ensure the tax rate ID
        exists and that updates comply with applicable tax regulations.
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/raw'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaxRate'
      responses:
        '200':
          $ref: '#/components/responses/UpdateTaxRateResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-speakeasy-group: accounting.taxRates
      x-speakeasy-name-override: update
    delete:
      operationId: accounting.taxRatesDelete
      summary: Delete a tax rate by its ID
      description: >-
        Deletes the specified tax rate from the accounting system. Use this operation when you need to remove an
        obsolete or incorrect tax rate. This action permanently removes the tax rate and cannot be undone. Ensure the
        tax rate is not in use before deletion to avoid data inconsistencies.
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/raw'
      responses:
        '200':
          $ref: '#/components/responses/DeleteTaxRateResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-speakeasy-group: accounting.taxRates
      x-speakeasy-name-override: delete
  /accounting/bills:
    get:
      operationId: accounting.billsAll
      summary: Retrieve a list of all bills in the accounting system
      description: >-
        Fetches a comprehensive list of bills recorded in the accounting system. Use this operation when you need to
        view or process multiple bills at once, unlike operations that handle single bill details. It reads the stored
        bill data without modifying any records. This operation may return large datasets, so consider filtering or
        pagination if supported.
      parameters:
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/billsFilter'
        - $ref: '#/components/parameters/billsSort'
        - $ref: '#/components/parameters/passThrough'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          $ref: '#/components/responses/GetBillsResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: clearbooks-uk
          description: Clearbooks does not support setting the pagination size.
        - connector: freshbooks
          description: The Freshbooks Bills api is currently in beta.
        - connector: netsuite
          description: >
            The minimun page size accepted for Netsuite is 5. The cursor for Netsuite expires if they have not been used
            within 15 minutes after its creation.
      x-speakeasy-group: accounting.bills
      x-speakeasy-name-override: list
      x-speakeasy-pagination:
        type: cursor
        inputs:
          - name: cursor
            in: parameters
            type: cursor
        outputs:
          nextCursor: $.meta.cursors.next
    post:
      operationId: accounting.billsAdd
      summary: Create a new bill in the accounting system
      description: >-
        This operation creates a new bill record associated with a company, supplier, and relevant accounting details.
        Use this endpoint when you need to add a bill to track expenses or liabilities within your accounting workflow.
        It writes data such as bill number, supplier information, currency, tax details, and related organizational
        units. Ensure that required fields like company ID and supplier are correctly provided to avoid errors.
      parameters:
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bill'
      responses:
        '201':
          $ref: '#/components/responses/CreateBillResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: xero
          description: >
            When providing both supplier.id and supplier.display_name (or supplier.name), Xero will update the contact's
            name if the ContactID exists. If the ContactID doesn't exist, Xero will automatically create a new contact
            using the provided name. This allows for automatic contact creation but may update existing contact names if
            the display_name differs from the stored name.
        - connector: procountor-fi
          description: ''
          Procountor only accepts the following values for the language field: EN, FI, SV, ET, NO, and DA.
          Procountor only accepts the following values for the payment_method field: >-
            BANK_TRANSFER, DIRECT_PAYMENT, CLEARING, CREDIT_CARD_CHARGE, FOREIGN_PAYMENT, OTHER, CASH,
            DOMESTIC_PAYMENT_PLUSGIRO, DOMESTIC_PAYMENT_BANKGIRO, DOMESTIC_PAYMENT_CREDITOR, DKLMPKRE, NETS.
          Procountor only accepts the following values for the channel field: EMAIL, MAIL, ELECTRONIC_INVOICE, EDIFACT, PAPER_INVOICE, NO_SENDING.
        - connector: quickbooks
          description: >
            When creating a bill in QuickBooks, each line item must be accompanied by a type designation. If the type is
            set to "expense_item," an item ID is required. Conversely, if the type is "expense_account," a ledger
            account ID must be provided.

            Additionally, multicurrency needs to be enabled in your QBO account. If creating a bill in your default
            currency, you do not need to send the currency value as long as the supplier uses the same currency. For
            bills with suppliers using a different currency than your default, you must include the currency value,
            matching the supplier's configured currency. To change the currency of a customer or vendor, a new one must
            be created with the desired currency. Foreign currencies can only be sent to suppliers configured with that
            currency.
        - connector: netsuite
          description: |
            For creating or updating a bill in Netsuite, its required to provide the line type.
        - connector: microsoft-dynamics-365-business-central
          description: >
            If you encounter a '400 Bad Request' error indicating "Control 'fieldName' is read-only" it means the
            'editable' property for this field in Microsoft Dynamics 365 Business Central is currently set to false. To
            resolve this issue and make the field writable, simply update the 'editable' property to true in Microsoft
            Dynamics 365 Business Central. Additionally, line item tax rates must be specified by tax rate *code* (e.g.,
            "G3"), not by ID. In U.S.-regionalized Business Central tenants, the `tax_inclusive` field cannot be set to
            `true`.
        - connector: zoho-books
          description: |
            The status of the bill will be "submitted" by default when creating a bill.
      x-speakeasy-group: accounting.bills
      x-speakeasy-name-override: create
  /accounting/bills/{id}:
    get:
      operationId: accounting.billsOne
      summary: Retrieve a specific bill by its ID
      description: >-
        Fetches detailed information about a single bill using its unique identifier. Use this operation when you need
        to view or verify the details of an existing bill rather than listing multiple bills or creating new ones. It
        reads the bill data without modifying it. Ensure the provided ID corresponds to an existing bill to avoid
        errors.
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          $ref: '#/components/responses/GetBillResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: freshbooks
          description: The Freshbooks Bills api is currently in beta.
      x-speakeasy-group: accounting.bills
      x-speakeasy-name-override: get
    patch:
      operationId: accounting.billsUpdate
      summary: Update an existing bill with new details
      description: >-
        This operation modifies the details of an existing bill in the accounting system. Use this endpoint when you
        need to change information such as supplier, amounts, dates, or related company data for a specific bill. It
        updates the stored bill record and may affect financial reports or downstream processes that rely on bill data.
        Ensure the bill ID is correct and that changes comply with your accounting policies to avoid inconsistencies.
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/raw'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Bill'
      responses:
        '200':
          $ref: '#/components/responses/UpdateBillResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: procountor-fi
          description: ''
          Procountor only accepts the following values for the language field: EN, FI, SV, ET, NO, and DA.
          Procountor only accepts the following values for the payment_method field: >-
            BANK_TRANSFER, DIRECT_PAYMENT, CLEARING, CREDIT_CARD_CHARGE, FOREIGN_PAYMENT, OTHER, CASH,
            DOMESTIC_PAYMENT_PLUSGIRO, DOMESTIC_PAYMENT_BANKGIRO, DOMESTIC_PAYMENT_CREDITOR, DKLMPKRE, NETS.
          Procountor only accepts the following values for the channel field: EMAIL, MAIL, ELECTRONIC_INVOICE, EDIFACT, PAPER_INVOICE, NO_SENDING.
        - connector: Quickbooks
          description: Quickbooks requires the supplier.id to be sent in order to make update operations.
        - connector: zoho-books
          description: |
            The allowed values for the status field are "draft", "submitted" and "void" when using the update method.
            Please send status updates separately from other bill updates.
        - connector: xero
          description: >-
            Bills in xero can be tax inclusive, tax exclusive or no tax. The tax_inclusive field should be set to true,
            false or null if the bill is tax inclusive, tax exclusive or no tax.
      x-speakeasy-group: accounting.bills
      x-speakeasy-name-override: update
    delete:
      operationId: accounting.billsDelete
      summary: Delete a bill by its ID
      description: >-
        Deletes the specified bill from the accounting system. Use this operation when you need to remove a bill
        permanently, such as when it was created in error or is no longer needed. This action cannot be undone and will
        remove all associated data for the bill. Ensure the bill ID is correct to avoid accidental data loss.
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/raw'
      responses:
        '200':
          $ref: '#/components/responses/DeleteBillResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: freshbooks
          description: >
            Delete will set the bill to inactive and will soft delete it, meaning it will stop appearing in the list API
            call. However, it can still be found via the get by id call.
      x-speakeasy-group: accounting.bills
      x-speakeasy-name-override: delete
  /accounting/invoices:
    get:
      operationId: accounting.invoicesAll
      summary: Retrieve a list of all invoices
      description: >-
        Fetches a complete list of invoices from the accounting system. Use this operation when you need to view or
        process multiple invoices at once, unlike operations that handle single invoice details. This call reads invoice
        data without modifying it and may return large datasets depending on the number of invoices stored.
      parameters:
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/invoicesFilter'
        - $ref: '#/components/parameters/invoicesSort'
        - $ref: '#/components/parameters/passThrough'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          $ref: '#/components/responses/GetInvoicesResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: clearbooks-uk
          description: Clearbooks does not support setting the pagination size.
        - connector: netsuite
          description: >
            The minimun page size accepted for Netsuite is 5. The cursor for Netsuite expires if they have not been used
            within 15 minutes after its creation.

            When using filters or sort parameters (which trigger the SuiteQL path), `quantity` and `unit_price` on line
            items may reflect base-unit values (e.g., days) rather than selling-unit values (e.g., years) for items with
            Units of Measure (UOM) enabled. `total_amount` is always accurate regardless. Use the GET one endpoint for
            selling-unit quantities.
        - connector: xero
          description: >
            Invoices in Xero can be tax inclusive, tax exclusive, or no tax. The `tax_inclusive` field is set to `true`
            (tax inclusive), `false` (tax exclusive), or `null` (no tax). Line items include `tax_rate` references that
            link to the tax-rates resource.
        - connector: quickbooks
          description: >
            QuickBooks uses tax codes rather than tax rates. The `tax_rate` on line items references a tax code, which
            may not include the actual percentage value. To get the actual rate, retrieve the full tax rate details via
            the tax-rates endpoint.
      x-speakeasy-group: accounting.invoices
      x-speakeasy-name-override: list
      x-speakeasy-pagination:
        type: cursor
        inputs:
          - name: cursor
            in: parameters
            type: cursor
        outputs:
          nextCursor: $.meta.cursors.next
    post:
      operationId: accounting.invoicesAdd
      summary: Create a new invoice in the accounting system
      description: >-
        This operation creates a new invoice record with specified details such as type, customer, dates, and related
        company information. Use this endpoint when you need to add an invoice rather than update or retrieve existing
        ones. It writes invoice data to the accounting database and may trigger downstream processes related to billing
        and reporting. Ensure required fields are provided and valid to avoid creation errors.
      parameters:
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice'
      responses:
        '201':
          $ref: '#/components/responses/CreateInvoiceResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: xero
          description: >
            When providing both customer.id and customer.display_name (or customer.name), Xero will update the contact's
            name if the ContactID exists. If the ContactID doesn't exist, Xero will automatically create a new contact
            using the provided name. This allows for automatic contact creation but may update existing contact names if
            the display_name differs from the stored name.
        - connector: quickbooks
          description: >-
            Quickbooks offers limited (regional) support for applying discount on a Line Item. Including
            discount_percentage or discount_amount applies to entire invoice. The default type for a Line Item is a
            sales item if no type has been provided.
        - connector: procountor-fi
          description: ''
          Procountor only accepts the following values for the language field: EN, FI, SV, ET, NO, and DA.
          Procountor only accepts the following values for the payment_method field: >-
            BANK_TRANSFER, DIRECT_PAYMENT, CLEARING, CREDIT_CARD_CHARGE, FOREIGN_PAYMENT, OTHER, CASH,
            DOMESTIC_PAYMENT_PLUSGIRO, DOMESTIC_PAYMENT_BANKGIRO, DOMESTIC_PAYMENT_CREDITOR, DKLMPKRE, NETS.
          Procountor only accepts the following values for the channel field: EMAIL, MAIL, ELECTRONIC_INVOICE, EDIFACT, PAPER_INVOICE, NO_SENDING.
        - connector: microsoft-dynamics-365-business-central
          description: >
            If you encounter a '400 Bad Request' error indicating "Control 'fieldName' is read-only" it means the
            'editable' property for this field in Microsoft Dynamics 365 Business Central is currently set to false. To
            resolve this issue and make the field writable, simply update the 'editable' property to true in Microsoft
            Dynamics 365 Business Central.
        - connector: freshbooks
          description: >
            The status field can be set to either "submitted", "partially_paid", "paid" or "draft". The due_date and
            invoice_date fields are required for the invoice to be created.
        - connector: zoho-books
          description: |
            By default, the status of the invoice will be set to "draft".
        - connector: netsuite
          description: >
            Netsuite only supports one tracking category at a time so only the first item in the tracking_categories
            list will be used. While creating an invoice, revenue start date and revenue end date should be passed in
            the custom fields object inside the line items.
        - connector: workday
          description: >
            It is required to provide tracking_categories.id in the line items, which corresponds to the
            worktag/cost_center_id in Workday. It is required to provide the item.id in the line items.
        - connector: myob-acumatica
          description: >
            When filling line items, you can either link an existing item by providing the item code or create a new
            item by filling in the item details. Using both options at the same time is not supported.
        - connector: acumatica
          description: >
            When filling line items, you can either link an existing item by providing the item code or create a new
            item by filling in the item details. Using both options at the same time is not supported.
        - connector: access-financials
          description: >
            Access Financials creates invoices as live/posted transactions immediately. Live transactions cannot be
            updated, so to correct an invoice you must create a credit note and issue a new invoice.
      x-speakeasy-group: accounting.invoices
      x-speakeasy-name-override: create
  /accounting/invoices/{id}:
    get:
      operationId: accounting.invoicesOne
      summary: Retrieve a specific invoice by its ID
      description: >-
        This operation fetches the details of a single invoice identified by its unique ID. Use this endpoint when you
        need to view or process information about a particular invoice rather than a list of invoices. It reads invoice
        data without modifying it, ensuring you get the current state of the invoice. The invoice ID must be valid and
        correspond to an existing invoice in the system.
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          $ref: '#/components/responses/GetInvoiceResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-speakeasy-group: accounting.invoices
      x-speakeasy-name-override: get
    patch:
      operationId: accounting.invoicesUpdate
      summary: Update an existing invoice with new details
      description: >-
        Modify the details of an existing invoice to reflect changes such as customer information, dates, terms, or
        invoice type. Use this operation when you need to correct or update invoice data after creation, rather than
        creating a new invoice. It updates the stored invoice record and may affect downstream accounting processes that
        rely on invoice data. Ensure the invoice ID is correct to avoid unintended modifications.
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/raw'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice'
      responses:
        '200':
          $ref: '#/components/responses/UpdateInvoiceResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: quickbooks
          description: >
            Quickbooks offers limited (regional) support for applying discount on a Line Item.  Including
            discount_percentage or discount_amount applies to entire invoice.  The default type for a Line Item is a
            sales item if no type has been provided. When setting status to `void`, do not include any other fields in
            the request body.
        - connector: procountor-fi
          description: ''
          Procountor only accepts the following values for the language field: EN, FI, SV, ET, NO, and DA.
          Procountor only accepts the following values for the payment_method field: >-
            BANK_TRANSFER, DIRECT_PAYMENT, CLEARING, CREDIT_CARD_CHARGE, FOREIGN_PAYMENT, OTHER, CASH,
            DOMESTIC_PAYMENT_PLUSGIRO, DOMESTIC_PAYMENT_BANKGIRO, DOMESTIC_PAYMENT_CREDITOR, DKLMPKRE, NETS.
          Procountor only accepts the following values for the channel field: EMAIL, MAIL, ELECTRONIC_INVOICE, EDIFACT, PAPER_INVOICE, NO_SENDING.
        - connector: exact-online
          description: >-
            To configure the shipping address for invoices, it is recommended to update the customer resource. If there
            is a need to change this property, modifying the customer information is advised.
        - connector: xero
          description: >-
            For updating invoices, there are some limitations. Check out
            [here](https://developers.apideck.com/connectors/xero/docs/application_owner+oauth_credentials#1-limitations-and-rules-for-updating-xero-invoices)
        - connector: xero
          description: >
            Invoices in Xero can be tax inclusive, tax exclusive, or no tax. Set `tax_inclusive` to `true` (amounts
            include tax), `false` (amounts exclude tax), or `null` (no tax applied). When updating, changing
            `tax_inclusive` recalculates all line item amounts.
        - connector: quickbooks
          description: >
            When setting tax rates on line items, QuickBooks requires valid tax codes. The `tax_rate.id` must reference
            an existing tax code from the tax-rates endpoint. QuickBooks automatically calculates tax amounts based on
            the tax code's rate.
        - connector: freshbooks
          description: >
            The status field can be set to either "submitted" or "draft". The other available statuses are set by the
            Freshbooks API and cannot be updated manually. The due_date and invoice_date fields are required for the due
            date to be updated.
        - connector: zoho-books
          description: |
            The allowed values for the status field are "draft", "submitted", and "void" when using the update method.
            Please ensure that status updates are sent separately from other invoice updates.
        - connector: netsuite
          description: >-
            Netsuite only supports one tracking category at a time so only the first item in the tracking_categories
            list will be used.
        - connector: sage-business-cloud-accounting
          description: |
            To fetch service items, you must include filter[type]=service in your request parameters
        - connector: workday
          description: >
            It is required to provide tracking_categories.id in the line items, which corresponds to the
            worktag/cost_center_id in Workday. It is required to provide the item.id in the line items. Workday only
            supports `sales_item` and `service` types for line items and this is required.
      x-speakeasy-group: accounting.invoices
      x-speakeasy-name-override: update
    delete:
      operationId: accounting.invoicesDelete
      summary: Delete an invoice by its ID
      description: >-
        This operation removes an existing invoice from the accounting system. Use this endpoint when you need to
        permanently delete an invoice record, such as when it was created in error or is no longer needed. Deleting an
        invoice will remove all associated data and cannot be undone, so ensure the invoice is not linked to active
        transactions before proceeding. This operation does not return a response body.
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/raw'
      responses:
        '200':
          $ref: '#/components/responses/DeleteInvoiceResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: freshbooks
          description: >
            Delete will set the invoice to inactive and will soft delete it, meaning it will stop appearing in the list
            API call. However, it can still be found via the get by id call.
      x-speakeasy-group: accounting.invoices
      x-speakeasy-name-override: delete
  /accounting/ledger-accounts:
    get:
      operationId: accounting.ledgerAccountsAll
      summary: Retrieve a list of all ledger accounts
      description: >-
        Fetches all ledger accounts available in the accounting system. Use this operation when you need a comprehensive
        view of all ledger accounts rather than a specific one. It reads the current ledger account data without
        modifying any records. This operation does not support filtering or pagination, so it returns the full set of
        ledger accounts.
      parameters:
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/ledgerAccountsFilter'
        - $ref: '#/components/parameters/ledgerAccountsSort'
        - $ref: '#/components/parameters/passThrough'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          $ref: '#/components/responses/GetLedgerAccountsResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: netsuite
          description: >
            The minimun page size accepted for Netsuite is 5. The cursor for Netsuite expires if they have not been used
            within 15 minutes after its creation.
        - connector: clearbooks-uk
          description: Clearbooks does not support setting the pagination size.
      x-speakeasy-group: accounting.ledgerAccounts
      x-speakeasy-name-override: list
      x-speakeasy-pagination:
        type: cursor
        inputs:
          - name: cursor
            in: parameters
            type: cursor
        outputs:
          nextCursor: $.meta.cursors.next
    post:
      operationId: accounting.ledgerAccountsAdd
      summary: Create a new ledger account in the accounting system
      description: >-
        This operation creates a new ledger account with specified attributes such as classification, type, and
        balances. Use this endpoint when you need to add a new account to track financial transactions, rather than
        updating existing accounts or retrieving account data. It writes the account details to the ledger and
        initializes balances if provided. Ensure that classification and type values conform to allowed enums to avoid
        errors.
      parameters:
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LedgerAccount'
      responses:
        '201':
          $ref: '#/components/responses/CreateLedgerAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: netsuite
          description: >
            The `currency` field is supported only when Multi-Currency is enabled in NetSuite. It applies mainly to Bank
            and Credit Card accounts and becomes read-only after creation.
      x-speakeasy-group: accounting.ledgerAccounts
      x-speakeasy-name-override: create
  /accounting/ledger-accounts/{id}:
    get:
      operationId: accounting.ledgerAccountsOne
      summary: Retrieve a specific ledger account by its ID
      description: >-
        Fetches detailed information about a single ledger account using its unique identifier. Use this operation when
        you need to view or verify the details of an existing ledger account. It reads data without modifying any
        records. Ensure the provided ID corresponds to an existing ledger account to avoid errors.
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          $ref: '#/components/responses/GetLedgerAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-speakeasy-group: accounting.ledgerAccounts
      x-speakeasy-name-override: get
    patch:
      operationId: accounting.ledgerAccountsUpdate
      summary: Update an existing ledger account with new details
      description: >-
        This operation modifies the properties of an existing ledger account in the accounting system. Use this endpoint
        when you need to change account information such as classification, type, name, or balances. It updates the
        stored data for the specified ledger account and does not create a new account. Ensure the account ID exists
        before attempting to update, as this operation requires a valid identifier.
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/raw'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LedgerAccount'
      responses:
        '200':
          $ref: '#/components/responses/UpdateLedgerAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: zoho-books
          description: |
            For ledger accounts, please update the "active" status separately from other updates.
      x-speakeasy-group: accounting.ledgerAccounts
      x-speakeasy-name-override: update
    delete:
      operationId: accounting.ledgerAccountsDelete
      summary: Delete a ledger account by its identifier
      description: >-
        This operation removes a ledger account from the accounting system. Use this when you need to permanently
        eliminate an account that is no longer needed or was created in error. Deleting a ledger account may affect
        financial reports and transaction histories that reference it. Ensure the account is not linked to active
        transactions before deletion to avoid data inconsistencies.
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/raw'
      responses:
        '200':
          $ref: '#/components/responses/DeleteLedgerAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: quickbooks
          description: >
            This connector does not support deleting ledger accounts. Instead, it will update the ledger account to
            inactive.
      x-speakeasy-group: accounting.ledgerAccounts
      x-speakeasy-name-override: delete
  /accounting/invoice-items:
    get:
      operationId: accounting.invoiceItemsAll
      summary: Retrieve a list of all invoice items
      description: >-
        Fetches all invoice items available in the accounting system. Use this operation when you need to view or
        process multiple invoice items at once, rather than accessing individual items. It reads the stored invoice item
        data without modifying it. This operation does not support filtering or pagination by default, so expect the
        full set of invoice items in the response.
      parameters:
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/invoiceItemsFilter'
        - $ref: '#/components/parameters/invoiceItemsSort'
        - $ref: '#/components/parameters/passThrough'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          $ref: '#/components/responses/GetInvoiceItemsResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: netsuite
          description: >
            The minimun page size accepted for Netsuite is 5. The cursor for Netsuite expires if they have not been used
            within 15 minutes after its creation.
        - connector: freeagent
          description: |
            We use **price list items** from FreeAgent to support invoice items. 
            To access stock items, please use the [Proxy API](https://developers.apideck.com/apis/proxy/reference).

            **Related resources:**
            - [Price List Items](https://dev.freeagent.com/docs/price_list_items)
            - [Stock Items](https://dev.freeagent.com/docs/stock_items) 
            - [Stock Items via Proxy API](https://developers.apideck.com/apis/proxy/reference)
        - connector: myob-acumatica
          description: |
            The Apideck service type is used for MYOB Acumatica non-stock items, and inventory is used for stock items.
        - connector: acumatica
          description: |
            The Apideck service type is used for Acumatica non-stock items, and inventory is used for stock items.
        - connector: workday
          description: >
            It is required to provide `transaction_type` filter in the request parameters. If `transaction_type` is
            `purchase`, purchase-items will be returned. If `transaction_type` is `sale`, sales-items will be returned.
      x-speakeasy-group: accounting.invoiceItems
      x-speakeasy-name-override: list
      x-speakeasy-pagination:
        type: cursor
        inputs:
          - name: cursor
            in: parameters
            type: cursor
        outputs:
          nextCursor: $.meta.cursors.next
    post:
      operationId: accounting.invoiceItemsAdd
      summary: Create a new invoice item in the accounting system
      description: >-
        This operation creates a new invoice item with specified details such as name, description, type, and tax
        status. Use this endpoint when you need to add items that can be sold or purchased, including inventory and
        service types, to your accounting records. It writes the new item data to the system, enabling it to be
        referenced in invoices and other transactions. Ensure that the item type and related flags are set correctly to
        reflect its usage and tracking requirements.
      parameters:
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceItem'
      responses:
        '201':
          $ref: '#/components/responses/CreateInvoiceItemResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: quickbooks
          description: >
            The `taxable` field is applicable to US companies only and should be sent in the request body if your
            QuickBooks account is in the US region.
        - connector: freeagent
          description: |
            We use **price list items** from FreeAgent to support invoice items. 
            To access stock items, please use the [Proxy API](https://developers.apideck.com/apis/proxy/reference).

            **Related resources:**
            - [Price List Items](https://dev.freeagent.com/docs/price_list_items)
            - [Stock Items](https://dev.freeagent.com/docs/stock_items) 
            - [Stock Items via Proxy API](https://developers.apideck.com/apis/proxy/reference)
        - connector: workday
          description: >
            It is required to provide `sold` and `purchased` fields in the request body. If `sold` is true, sales-item
            will be created. If `purchased` is true, purchase-item will be created.
        - connector: acumatica
          description: >
            For `sales_details.tax_rate.id`, you must provide the Tax Category ID from the Acumatica not from our tax
            rates resource.
        - connector: myob-acumatica
          description: >
            For `sales_details.tax_rate.id`, you must provide the Tax Category ID from the MYOB Acumatica not from our
            tax rates resource.
      x-speakeasy-group: accounting.invoiceItems
      x-speakeasy-name-override: create
  /accounting/invoice-items/{id}:
    get:
      operationId: accounting.invoiceItemsOne
      summary: Retrieve a specific invoice item by its ID
      description: >-
        This operation fetches the details of a single invoice item using its unique identifier. Use this when you need
        to view or verify information about a particular invoice item rather than a list of items. It reads data related
        to the invoice item without modifying any records. Ensure the provided ID corresponds to an existing invoice
        item to avoid errors.
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/fields'
        - $ref: '#/components/parameters/invoiceItemFilter'
      responses:
        '200':
          $ref: '#/components/responses/GetInvoiceItemResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: sage-business-cloud-accounting
          description: |
            To fetch service items, you must include filter[type]=service in your request parameters
        - connector: freeagent
          description: |
            We use **price list items** from FreeAgent to support invoice items. 
            To access stock items, please use the [Proxy API](https://developers.apideck.com/apis/proxy/reference).

            **Related resources:**
            - [Price List Items](https://dev.freeagent.com/docs/price_list_items)
            - [Stock Items](https://dev.freeagent.com/docs/stock_items) 
            - [Stock Items via Proxy API](https://developers.apideck.com/apis/proxy/reference)
        - connector: workday
          description: >
            It is required to provide `transaction_type` filter in the request parameters. If `transaction_type` is
            `purchase`, purchase-item will be returned. If `transaction_type` is `sale`, sales-item will be returned.
      x-speakeasy-group: accounting.invoiceItems
      x-speakeasy-name-override: get
    patch:
      operationId: accounting.invoiceItemsUpdate
      summary: Update an existing invoice item by modifying its details
      description: >-
        This operation updates the properties of an existing invoice item, such as its name, description, type, and
        taxability. Use this endpoint when you need to change specific attributes of an invoice item without creating a
        new one. It modifies stored data related to the invoice item and may affect how the item appears on invoices and
        accounting reports. Ensure the item ID exists and that updates comply with inventory and sales tracking rules.
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/raw'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvoiceItem'
      responses:
        '200':
          $ref: '#/components/responses/UpdateInvoiceItemResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: quickbooks
          description: >
            The `taxable` field is applicable to US companies only and should be sent in the request body if your
            QuickBooks account is in the US region.
        - connector: zoho-books
          description: |
            Please ensure that status updates are sent separately from other invoice item updates.
        - connector: workday
          description: >
            It is required to provide `sold` and `purchased` fields in the request body. If `sold` is true, sales-item
            will be created. If `purchased` is true, purchase-item will be created.
      x-speakeasy-group: accounting.invoiceItems
      x-speakeasy-name-override: update
    delete:
      operationId: accounting.invoiceItemsDelete
      summary: Delete an invoice item by its ID
      description: >-
        This operation removes a specific invoice item from the accounting system using its unique identifier. Use this
        endpoint when you need to permanently delete an invoice item rather than just updating or archiving it. Deleting
        an invoice item will remove all associated data for that item and cannot be undone. Ensure the item is not
        linked to finalized invoices to avoid inconsistencies.
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/raw'
      responses:
        '200':
          $ref: '#/components/responses/DeleteInvoiceItemResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: freshbooks
          description: >
            Delete will set the invoice item to inactive and will soft delete it, meaning it will stop appearing in the
            list API call. However, it can still be found via the get by id call.
      x-speakeasy-group: accounting.invoiceItems
      x-speakeasy-name-override: delete
  /accounting/credit-notes:
    get:
      operationId: accounting.creditNotesAll
      summary: Retrieve a list of all credit notes
      description: >-
        Fetches all credit notes recorded in the accounting system. Use this operation when you need to review or
        process multiple credit notes at once, rather than accessing individual credit notes. This operation reads
        stored credit note data without modifying it. It may return a large dataset depending on the number of credit
        notes present.
      parameters:
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/creditNotesFilter'
        - $ref: '#/components/parameters/creditNotesSort'
        - $ref: '#/components/parameters/passThrough'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          $ref: '#/components/responses/GetCreditNotesResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: clearbooks-uk
          description: Clearbooks does not support setting the pagination size.
        - connector: netsuite
          description: >
            The minimun page size accepted for Netsuite is 5. The cursor for Netsuite expires if they have not been used
            within 15 minutes after its creation.
        - connector: sage-business-cloud-accounting
          description: >
            The `allocations` field is not returned in responses. To retrieve allocation details, use the proxy API to
            call `/contact_allocations?contact_id={customer_id}`.
      x-speakeasy-group: accounting.creditNotes
      x-speakeasy-name-override: list
      x-speakeasy-pagination:
        type: cursor
        inputs:
          - name: cursor
            in: parameters
            type: cursor
        outputs:
          nextCursor: $.meta.cursors.next
    post:
      operationId: accounting.creditNotesAdd
      summary: Create a new credit note for a customer in the accounting system
      description: >-
        This operation creates a credit note to record a reduction in the amount owed by a customer. Use this endpoint
        when you need to issue a credit for returned goods, billing adjustments, or other reasons that decrease the
        customer's balance. It writes financial data including amounts, taxes, currency details, and associations with
        company, location, and department. Ensure that all required financial and customer information is accurate, as
        this affects accounting records and reporting.
      parameters:
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNote'
      responses:
        '201':
          $ref: '#/components/responses/CreateCreditNoteResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: xero
          description: >-
            For adding invoice allocations, use the proxy API. [Know
            more](https://developers.apideck.com/connectors/xero/docs/application_owner+oauth_credentials#2-curl-requests-for-adding-and-removing-allocations-from-xero-credit-note)
        - connector: zoho-books
          description: |
            By default, the status of the bill will be set to "authorised".
        - connector: netsuite
          description: >-
            Netsuite only supports one tracking category at a time so only the first item in the tracking_categories
            list will be used.
        - connector: sage-business-cloud-accounting
          description: >
            Pass allocations in the `allocations` array. The first allocation is supported on all plans; additional
            allocations (2+) require higher than "Start" plan.

            The `allocations` field is not returned in responses. To retrieve allocation details, use the proxy API to
            call `/contact_allocations?contact_id={customer_id}`.
        - connector: access-financials
          description: >
            Access Financials creates credit notes as live/posted transactions immediately. Live transactions cannot be
            updated, so to correct a credit note you must delete it and create a new one.
      x-speakeasy-group: accounting.creditNotes
      x-speakeasy-name-override: create
  /accounting/credit-notes/{id}:
    get:
      operationId: accounting.creditNotesOne
      summary: Retrieve a specific credit note by its ID
      description: >-
        Fetches the details of a single credit note using its unique identifier. Use this operation when you need to
        view or verify information about a particular credit note rather than listing multiple notes. It reads the
        credit note data without modifying it. Ensure the provided ID corresponds to an existing credit note to avoid
        errors.
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          $ref: '#/components/responses/GetCreditNoteResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: sage-business-cloud-accounting
          description: >
            The `allocations` field is not returned in responses. To retrieve allocation details, use the proxy API to
            call `/contact_allocations?contact_id={customer_id}`.
      x-speakeasy-group: accounting.creditNotes
      x-speakeasy-name-override: get
    patch:
      operationId: accounting.creditNotesUpdate
      summary: Update an existing credit note with new details
      description: >-
        This operation modifies the details of an existing credit note in the accounting system. Use this endpoint when
        you need to correct or change information on a credit note, such as customer data, amounts, or tax details. It
        updates the stored credit note record and affects financial reporting and balances accordingly. Ensure the
        credit note ID exists and that updates comply with your accounting policies to avoid inconsistencies.
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/raw'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditNote'
      responses:
        '200':
          $ref: '#/components/responses/UpdateCreditNoteResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: netsuite
          description: >
            - Netsuite doesn't support voiding credit notes via API. Options: 1) Remove allocations and delete, or 2)
            Create a reversing invoice for the same amount.
        - connector: xero
          description: >
            - Authorised Credit Note can only be updated to voided status and cannot be deleted once authorised.

            - Any invoice allocation and payment must be deleted before updating the authorised Credit Note to status
            voided.

            - To delete payments, use the payment ID from the raw data and delete it using the Delete Payment endpoint.

            - For adding and removing invoice allocations, use the proxy API. [Know
            more](https://developers.apideck.com/connectors/xero/docs/application_owner+oauth_credentials#2-curl-requests-for-adding-and-removing-allocations-from-xero-credit-note)
        - connector: xero
          description: >-
            Credit notes in xero can be tax inclusive, tax exclusive or no tax. The tax_inclusive field should be set to
            true, false or null if the credit note is tax inclusive, tax exclusive or no tax.
        - connector: zoho-books
          description: |
            Allowed values for the status are "draft", "authorised", and "voided" when using the update method.
            Please send status updates separately from other updates for Credit Notes.
        - connector: netsuite
          description: >-
            Netsuite only supports one tracking category at a time so only the first item in the tracking_categories
            list will be used.
        - connector: sage-business-cloud-accounting
          description: |
            Allocations cannot be modified after credit note creation.
      x-speakeasy-group: accounting.creditNotes
      x-speakeasy-name-override: update
    delete:
      operationId: accounting.creditNotesDelete
      summary: Delete a credit note by its ID
      description: >-
        Deletes a specified credit note from the accounting records. Use this operation when you need to remove an
        existing credit note that is no longer valid or was created in error. This action permanently removes the credit
        note and cannot be undone, so ensure the correct ID is provided. It does not affect other related accounting
        entries automatically.
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/raw'
      responses:
        '200':
          $ref: '#/components/responses/DeleteCreditNoteResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: xero
          description: >
            Xero will only allow deleting a Credit Note if it is in draft status.

            Credit notes with "authorised" status cannot be deleted directly. Instead:

            - If the credit note is empty (i.e., has no invoice allocations and payments), its status can be updated to
            "voided" by update Credit Note endpoint.

            - If the credit note has invoice allocations and payments, these must be removed first. Once all invoice
            allocations and payments are deleted, the credit note's status can be updated to "Voided" by update Credit
            Note endpoint.
              [Know more](https://developers.apideck.com/connectors/xero/docs/application_owner+oauth_credentials#2-curl-requests-for-adding-and-removing-allocations-from-xero-credit-note)
        - connector: freshbooks
          description: >
            Delete will set the credit note to inactive and will soft delete it, meaning it will stop appearing in the
            list API call. However, it can still be found via the get by id call.
      x-speakeasy-group: accounting.creditNotes
      x-speakeasy-name-override: delete
  /accounting/customers:
    get:
      operationId: accounting.customersAll
      summary: Retrieve a list of all customers
      description: >-
        Fetches a complete list of customers from the accounting system. Use this operation when you need to view or
        process all customer records at once, unlike operations that handle individual customers. This call reads
        customer data without modifying it and may return large datasets depending on the number of customers stored.
      parameters:
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/customersFilter'
        - $ref: '#/components/parameters/customersSort'
        - $ref: '#/components/parameters/passThrough'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomersResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: netsuite
          description: >
            The minimun page size accepted for Netsuite is 5. The cursor for Netsuite expires if they have not been used
            within 15 minutes after its creation.
        - connector: clearbooks-uk
          description: Clearbooks does not support setting the pagination size.
        - connector: xero
          description: >
            In Xero, contacts are not strictly separated into customers or suppliers until linked to a transaction.
            Apideck's approach is to return customers as `IsCustomer=true||IsSupplier=false` and suppliers as
            `IsSupplier=true||IsCustomer=false`. If you need other cases, use pass-through, e.g.
            `?pass_through[where]=IsCustomer=false AND IsSupplier=false` for uncategorized contacts. See the
            [Pass-through guide](https://developers.apideck.com/guides/pass-through) for more details.
        - connector: freeagent
          description: >
            In FreeAgent, newly created customers will not appear in customer list responses until an invoice has been
            assigned to them. This is because FreeAgent only classifies contacts as customers once they have associated
            invoices. See [Set up a contact as a customer or a
            supplier](https://support.freeagent.com/hc/en-gb/articles/115001217850-Set-up-a-contact-as-a-customer-or-a-supplier)
            for more details.
      x-speakeasy-group: accounting.customers
      x-speakeasy-name-override: list
      x-speakeasy-pagination:
        type: cursor
        inputs:
          - name: cursor
            in: parameters
            type: cursor
        outputs:
          nextCursor: $.meta.cursors.next
    post:
      operationId: accounting.customersAdd
      summary: Create a new customer record in the accounting system
      description: >-
        This operation creates a new customer record with detailed information such as company name, contact names, and
        customer category. Use this endpoint when you need to add a new customer to your accounting database rather than
        updating existing records. It writes customer data to the system and does not return a response body. Ensure
        that required fields are provided to successfully create the customer.
      parameters:
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
      responses:
        '201':
          $ref: '#/components/responses/CreateCustomerResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: procountor-fi
          description: ''
          Procountor only accepts the following values for the payment_method field: >-
            BANK_TRANSFER, DIRECT_DEBIT, DIRECT_PAYMENT, CLEARING, CREDIT_CARD_CHARGE, FOREIGN_PAYMENT, OTHER, CASH,
            DOMESTIC_PAYMENT_PLUSGIRO, DOMESTIC_PAYMENT_BANKGIRO, DOMESTIC_PAYMENT_CREDITOR, DKLMPKRE, NETS.
          Procountor only accepts the following values for the channel field: EMAIL, MAIL, ELECTRONIC_INVOICE, EDIFACT, PAPER_INVOICE, NO_SENDING.
        - connector: quickbooks
          description: >-
            QuickBooks supports only billing and shipping addresses. Therefore, when creating addresses, it is required
            to specify the type as 'billing' or 'shipping' in the address object within the addresses array.
        - connector: freshbooks
          description: >
            Freshbooks API set status to active by default for new customers. To change the status, you can use the
            Update Customer endpoint.
        - connector: freeagent
          description: >
            You can create customer contacts, but they will not be visible in customer list responses until an invoice
            is assigned to them. FreeAgent only classifies contacts as customers after they have associated
            transactions. See [Set up a contact as a customer or a
            supplier](https://support.freeagent.com/hc/en-gb/articles/115001217850-Set-up-a-contact-as-a-customer-or-a-supplier)
            for more information.
      x-speakeasy-group: accounting.customers
      x-speakeasy-name-override: create
  /accounting/customers/{id}:
    get:
      operationId: accounting.customersOne
      summary: Retrieve details of a specific customer by ID
      description: >-
        This operation fetches detailed information about a single customer using their unique identifier. Use this
        endpoint when you need to view or verify customer data rather than listing multiple customers. It reads customer
        records without modifying any data. Ensure the customer ID provided exists to avoid errors.
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          $ref: '#/components/responses/GetCustomerResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-speakeasy-group: accounting.customers
      x-speakeasy-name-override: get
    patch:
      operationId: accounting.customersUpdate
      summary: Update an existing customer's details in the accounting system
      description: >-
        This operation modifies the information of a specified customer within the accounting system. Use this endpoint
        when you need to change customer attributes such as name, company, or category, rather than creating a new
        customer or retrieving customer data. It updates the stored customer record with the provided fields,
        overwriting existing values where specified. Ensure the customer ID is correct to avoid unintended data changes,
        as this operation does not create new records or return the updated data.
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/raw'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Customer'
      responses:
        '200':
          $ref: '#/components/responses/UpdateCustomerResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: procountor-fi
          description: ''
          Procountor only accepts the following values for the payment_method field: >-
            BANK_TRANSFER, DIRECT_DEBIT, DIRECT_PAYMENT, CLEARING, CREDIT_CARD_CHARGE, FOREIGN_PAYMENT, OTHER, CASH,
            DOMESTIC_PAYMENT_PLUSGIRO, DOMESTIC_PAYMENT_BANKGIRO, DOMESTIC_PAYMENT_CREDITOR, DKLMPKRE, NETS.
          Procountor only accepts the following values for the channel field: EMAIL, MAIL, ELECTRONIC_INVOICE, EDIFACT, PAPER_INVOICE, NO_SENDING.
        - connector: quickbooks
          description: >-
            QuickBooks supports only billing and shipping addresses. Therefore, when creating or updating addresses, it
            is required to specify the type as 'billing' or 'shipping' in the address object within the addresses array.
        - connector: freshbooks
          description: |
            The status field can be updated to either "active" or "archived".
        - connector: zoho-books
          description: |
            The status field can be updated to either "active" or "inactive".
            Please send status updates separately from other updates for the customer.
      x-speakeasy-group: accounting.customers
      x-speakeasy-name-override: update
    delete:
      operationId: accounting.customersDelete
      summary: Delete a customer by ID
      description: >-
        Deletes a customer record from the accounting system using the specified ID. Use this operation when you need to
        remove a customer permanently, unlike operations that update or retrieve customer data. This action irreversibly
        removes the customer's information and may affect related accounting records. Ensure the customer is not linked
        to active transactions before deletion to avoid data inconsistencies.
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/raw'
      responses:
        '200':
          $ref: '#/components/responses/DeleteCustomerResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: freshbooks
          description: >
            Delete will set the customer to inactive and will soft delete it, meaning it will stop appearing in the list
            API call. However, it can still be found via the get by id call.
      x-speakeasy-group: accounting.customers
      x-speakeasy-name-override: delete
  /accounting/suppliers:
    get:
      operationId: accounting.suppliersAll
      summary: Retrieve a list of all suppliers
      description: >-
        Fetches a complete list of suppliers from the accounting system. Use this operation when you need to view or
        process all supplier records rather than a specific supplier. It reads supplier data without modifying any
        records. This operation does not support filtering or pagination, so it returns all suppliers available.
      parameters:
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
        - $ref: '#/components/parameters/cursor'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/suppliersFilter'
        - $ref: '#/components/parameters/suppliersSort'
        - $ref: '#/components/parameters/passThrough'
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          $ref: '#/components/responses/GetSuppliersResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: clearbooks-uk
          description: Clearbooks does not support setting the pagination size.
        - connector: procountor-fi
          description: >
            Procountor only accepts the following values for the payment_method field: BANK_TRANSFER, DIRECT_DEBIT,
            DIRECT_PAYMENT, CLEARING, CREDIT_CARD_CHARGE, FOREIGN_PAYMENT, OTHER, CASH, DOMESTIC_PAYMENT_PLUSGIRO,
            DOMESTIC_PAYMENT_BANKGIRO, DOMESTIC_PAYMENT_CREDITOR, DKLMPKRE, NETS.

            Procountor only accepts the following values for the channel field: EMAIL, MAIL, ELECTRONIC_INVOICE,
            EDIFACT, PAPER_INVOICE, NO_SENDING.
        - connector: netsuite
          description: >
            The minimun page size accepted for Netsuite is 5. The cursor for Netsuite expires if they have not been used
            within 15 minutes after its creation.
        - connector: xero
          description: >
            In Xero, contacts are not strictly separated into customers or suppliers until linked to a transaction.
            Apideck's approach is to return suppliers as `IsSupplier=true||IsCustomer=false` and customers as
            `IsCustomer=true||IsSupplier=false`. If you need other cases, use pass-through, e.g.
            `?pass_through[where]=IsCustomer=false AND IsSupplier=false` for uncategorized contacts. See the
            [Pass-through guide](https://developers.apideck.com/guides/pass-through) for more details.
      x-speakeasy-group: accounting.suppliers
      x-speakeasy-name-override: list
      x-speakeasy-pagination:
        type: cursor
        inputs:
          - name: cursor
            in: parameters
            type: cursor
        outputs:
          nextCursor: $.meta.cursors.next
    post:
      operationId: accounting.suppliersAdd
      summary: Add a new supplier to the accounting system
      description: >-
        This operation creates a new supplier record within the accounting system. Use this endpoint when you need to
        register a new supplier with details such as company name, contact names, and category. It writes supplier data
        to the system, enabling tracking and management of supplier-related transactions. Ensure that required fields
        are provided to avoid incomplete records.
      parameters:
        - $ref: '#/components/parameters/raw'
        - $ref: '#/components/parameters/consumerId'
        - $ref: '#/components/parameters/applicationId'
        - $ref: '#/components/parameters/serviceId'
        - $ref: '#/components/parameters/companyId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Supplier'
      responses:
        '201':
          $ref: '#/components/responses/CreateSupplierResponse'
        '400':
          $ref: '#/components/responses/BadRequestResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedResponse'
        '402':
          $ref: '#/components/responses/PaymentRequiredResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '422':
          $ref: '#/components/responses/UnprocessableResponse'
        default:
          $ref: '#/components/responses/UnexpectedErrorResponse'
      security:
        - apiKey: []
      tags:
        - accounting
      x-apideck-api: accounting
      x-apideck-gotchas:
        - connector: quickbooks
          description: >-
            QuickBooks only supports a single billing address. Therefore, the first item in the addresses array will
            always be mapped as the billing address, regardless of its original type.
        - connector: microsoft-dynamics-365-business-central
          description: >
            If you encounter a '400 Bad Request' error indicating "Control 'fieldName' is read-only" it means the
[...]
