/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeFormQuery, encodeJSON, encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { FileStorageUploadSessionsAddOpServerList, FileStorageUploadSessionsAddRequest$zodSchema, } from "../models/filestorageuploadsessionsaddop.js";
import { APIPromise } from "../types/async.js";
/**
 * Start Upload Session
 *
 * @remarks
 * Start an Upload Session. Upload sessions are used to upload large files, use the [Upload File](#operation/filesUpload) endpoint to upload smaller files (up to 100MB). Note that the base URL is upload.apideck.com instead of unify.apideck.com. For more information on uploads, refer to the [file upload guide](/guides/file-upload).
 */
export function fileStorageUploadSessionsCreate(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => FileStorageUploadSessionsAddRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = encodeJSON("body", payload$.body, { explode: true });
    const baseURL$ = options?.serverURL
        || pathToFunc(FileStorageUploadSessionsAddOpServerList[0], {
            charEncoding: "percent",
        })();
    const path$ = pathToFunc("/file-storage/upload-sessions")();
    const query$ = encodeFormQuery({
        "raw": payload$.raw,
    });
    const headers$ = new Headers(compactMap({
        "Content-Type": "application/json",
        Accept: "application/json",
        "x-apideck-app-id": encodeSimple("x-apideck-app-id", payload$.xApideckAppId ?? client$._options.appId, { explode: false, charEncoding: "none" }),
        "x-apideck-consumer-id": encodeSimple("x-apideck-consumer-id", payload$.xApideckConsumerId ?? client$._options.consumerId, { explode: false, charEncoding: "none" }),
        "x-apideck-service-id": encodeSimple("x-apideck-service-id", payload$.xApideckServiceId, { explode: false, charEncoding: "none" }),
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: baseURL$ ?? "",
        operationID: "fileStorage.uploadSessionsAdd",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || {
                strategy: "backoff",
                backoff: {
                    initialInterval: 500,
                    maxInterval: 60000,
                    exponent: 1.5,
                    maxElapsedTime: 900000,
                },
                retryConnectionErrors: true,
            }
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "408",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "POST",
        baseURL: baseURL$,
        path: path$,
        headers: headers$,
        query: query$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=fileStorageUploadSessionsCreate.js.map