/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { VaultConnectionCustomMappingsAllRequest$zodSchema, } from "../models/vaultconnectioncustommappingsallop.js";
import { APIPromise } from "../types/async.js";
/**
 * List connection custom mappings
 *
 * @remarks
 * This endpoint returns a list of custom mappings for a connection.
 */
export function vaultConnectionCustomMappingsList(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => VaultConnectionCustomMappingsAllRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = null;
    const pathParams$ = {
        resource: encodeSimple("resource", payload$.resource, {
            explode: false,
            charEncoding: "percent",
        }),
        service_id: encodeSimple("service_id", payload$.service_id, {
            explode: false,
            charEncoding: "percent",
        }),
        unified_api: encodeSimple("unified_api", payload$.unified_api, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path$ = pathToFunc("/vault/connections/{unified_api}/{service_id}/{resource}/custom-mappings")(pathParams$);
    const query$ = encodeFormQuery({
        "resource_id": payload$.resource_id,
    });
    const headers$ = new Headers(compactMap({
        Accept: "application/json",
        "x-apideck-app-id": encodeSimple("x-apideck-app-id", payload$.xApideckAppId ?? client$._options.appId, { explode: false, charEncoding: "none" }),
        "x-apideck-consumer-id": encodeSimple("x-apideck-consumer-id", payload$.xApideckConsumerId ?? client$._options.consumerId, { explode: false, charEncoding: "none" }),
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "vault.connectionCustomMappingsAll",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || {
                strategy: "backoff",
                backoff: {
                    initialInterval: 500,
                    maxInterval: 60000,
                    exponent: 1.5,
                    maxElapsedTime: 900000,
                },
                retryConnectionErrors: true,
            }
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "408",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "GET",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        query: query$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=vaultConnectionCustomMappingsList.js.map