/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { VaultValidateConnectionStateRequest$zodSchema, } from "../models/vaultvalidateconnectionstateop.js";
import { APIPromise } from "../types/async.js";
/**
 * Validate Connection State
 *
 * @remarks
 * This endpoint validates the current state of a given connection. This will perform different checks based on the connection auth type. For basic and apiKey auth types, the presence of required fields is checked.
 * For connectors that implement OAuth2, this operation forces the refresh flow for an access token regardless of its expiry.
 *
 * Note:
 *   - Do not include any credentials in the request body. This operation does not persist changes, but only triggers the validation of connection state.
 *   - If a refresh token flow was performed and successful, the new access token will then be used for subsequent API requests.
 */
export function vaultValidateConnectionState(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => VaultValidateConnectionStateRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = encodeJSON("body", payload$.body, { explode: true });
    const pathParams$ = {
        service_id: encodeSimple("service_id", payload$.service_id, {
            explode: false,
            charEncoding: "percent",
        }),
        unified_api: encodeSimple("unified_api", payload$.unified_api, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path$ = pathToFunc("/vault/connections/{unified_api}/{service_id}/validate")(pathParams$);
    const headers$ = new Headers(compactMap({
        "Content-Type": "application/json",
        Accept: "application/json",
        "x-apideck-app-id": encodeSimple("x-apideck-app-id", payload$.xApideckAppId ?? client$._options.appId, { explode: false, charEncoding: "none" }),
        "x-apideck-consumer-id": encodeSimple("x-apideck-consumer-id", payload$.xApideckConsumerId ?? client$._options.consumerId, { explode: false, charEncoding: "none" }),
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "vault.validateConnectionState",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || {
                strategy: "backoff",
                backoff: {
                    initialInterval: 500,
                    maxInterval: 60000,
                    exponent: 1.5,
                    maxElapsedTime: 900000,
                },
                retryConnectionErrors: true,
            }
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "408",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "POST",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=vaultValidateConnectionState.js.map