/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */
import { encodeJSON, encodeSimple } from "../lib/encodings.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { WebhookWebhooksUpdateRequest$zodSchema, } from "../models/webhookwebhooksupdateop.js";
import { APIPromise } from "../types/async.js";
/**
 * Update webhook subscription
 *
 * @remarks
 * Update a webhook subscription.
 *
 * **Delivery URL Validation**: When updating the `delivery_url`, it will be validated synchronously by sending an HTTP POST request with an HMAC signature. If validation fails (network error, timeout, non-2xx response), the webhook will still be updated but with `status: "disabled"` and `disabled_reason: "delivery_url_validation_failed"`. Validation only occurs when the URL is changed.
 *
 * **Important**: Always check the `status` and `disabled_reason` fields in the response to ensure the webhook is active.
 */
export function webhookWebhooksUpdate(client$, request, options) {
    return new APIPromise($do(client$, request, options));
}
async function $do(client$, request, options) {
    const parsed$ = safeParse(request, (value$) => WebhookWebhooksUpdateRequest$zodSchema.parse(value$), "Input validation failed");
    if (!parsed$.ok) {
        return [parsed$, { status: "invalid" }];
    }
    const payload$ = parsed$.value;
    const body$ = encodeJSON("body", payload$.body, { explode: true });
    const pathParams$ = {
        id: encodeSimple("id", payload$.id, {
            explode: false,
            charEncoding: "percent",
        }),
    };
    const path$ = pathToFunc("/webhook/webhooks/{id}")(pathParams$);
    const headers$ = new Headers(compactMap({
        "Content-Type": "application/json",
        Accept: "application/json",
        "x-apideck-app-id": encodeSimple("x-apideck-app-id", payload$.xApideckAppId ?? client$._options.appId, { explode: false, charEncoding: "none" }),
    }));
    const securityInput = await extractSecurity(client$._options.security);
    const requestSecurity = resolveGlobalSecurity(securityInput);
    const context = {
        options: client$._options,
        baseURL: options?.serverURL ?? client$._baseURL ?? "",
        operationID: "webhook.webhooksUpdate",
        oAuth2Scopes: null,
        resolvedSecurity: requestSecurity,
        securitySource: client$._options.security,
        retryConfig: options?.retries
            || client$._options.retryConfig
            || {
                strategy: "backoff",
                backoff: {
                    initialInterval: 500,
                    maxInterval: 60000,
                    exponent: 1.5,
                    maxElapsedTime: 900000,
                },
                retryConnectionErrors: true,
            }
            || { strategy: "none" },
        retryCodes: options?.retryCodes || [
            "408",
            "500",
            "502",
            "503",
            "504",
        ],
    };
    const requestRes = client$._createRequest(context, {
        security: requestSecurity,
        method: "PATCH",
        baseURL: options?.serverURL,
        path: path$,
        headers: headers$,
        body: body$,
        userAgent: client$._options.userAgent,
        timeoutMs: options?.timeoutMs || client$._options.timeoutMs
            || -1,
    }, options);
    if (!requestRes.ok) {
        return [requestRes, { status: "invalid" }];
    }
    const req$ = requestRes.value;
    const doResult = await client$._do(req$, {
        context,
        errorCodes: [],
        retryConfig: context.retryConfig,
        retryCodes: context.retryCodes,
    });
    if (!doResult.ok) {
        return [doResult, { status: "request-error", request: req$ }];
    }
    return [doResult, {
            status: "complete",
            "request": req$,
            response: doResult.value,
        }];
}
//# sourceMappingURL=webhookWebhooksUpdate.js.map